LLM_MODEL=gpt-4o-mini
LLM_API_KEY=
LLM_BASE_URL=

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=dao

CDP_API_KEY_NAME=
CDP_API_KEY_PRIVATE_KEY=
NETWORK_ID=base-sepolia